---
import "./cases.css";
import Section from "../../ui/Section/Section.astro";
import Heading from "../../ui/Heading/Heading.astro";
---

<Section id="casos" class="cases">
  <Heading as="h2" size="lg">Casos</Heading>
  <p class="cases-description">
    Contenido de la sección Casos pendiente de definir.
  </p>
</Section>

<script>
  import "./cases.ts";
</script>
