---
import "./clients.css";
import Section from "../../ui/Section/Section.astro";
import Heading from "../../ui/Heading/Heading.astro";
---

<Section id="clientes" class="clients">
  <Heading as="h2" size="lg">Clientes</Heading>
  <p class="clients-description">
    Contenido de la sección Clientes pendiente de definir.
  </p>
</Section>

<script>
  import "./clients.ts";
</script>
