---
import "./solutions.css";
import Section from "../../ui/Section/Section.astro";
import Heading from "../../ui/Heading/Heading.astro";
---

<Section id="soluciones" class="solutions">
  <Heading as="h2" size="lg">Soluciones</Heading>
  <p class="solutions-description">
    Contenido de la sección Soluciones pendiente de definir.
  </p>
</Section>

<script>
  import "./solutions.ts";
</script>
