---
import "./header.css";
import logo from "../../../assets/images/LOGO-PAUTACREATIVA.png";
---

<header id="site-header" data-header>
  <nav class="header-nav">
    <a href="#hero" class="header-logo">
      <img src={logo.src} alt="Pauta Creativa" />
    </a>

    <ul class="header-menu">
      <li><a href="#somos">SOMOS</a></li>
      <li><a href="#orange-mindset">ORANGE MINDSET</a></li>
      <li><a href="#soluciones">SOLUCIONES</a></li>
      <li><a href="#casos">CASOS</a></li>
      <li><a href="#clientes">CLIENTES</a></li>
      <li><a href="#contacto">CONTACTO</a></li>
    </ul>
  </nav>
</header>

<script>
  import "./header.ts";
</script>
