---
import "./header.css";
---

<header id="site-header" data-header>
  <nav class="header-nav">
    <a href="#hero" class="header-logo">Pauta Creativa</a>

    <ul class="header-menu">
      <li><a href="#somos">Nosotros</a></li>
      <li><a href="#soluciones">Soluciones</a></li>
      <li><a href="#casos">Casos</a></li>
      <li><a href="#clientes">Clientes</a></li>
      <li><a href="#contacto">Contacto</a></li>
    </ul>
  </nav>
</header>

<script>
  import "./header.ts";
</script>
