---
import "./about.css";
import Section from "../../ui/Section/Section.astro";
import Heading from "../../ui/Heading/Heading.astro";
---

<Section id="somos" class="about">
  <Heading as="h2" size="lg">Nosotros</Heading>
  <p class="about-description">
    Contenido de la sección Nosotros pendiente de definir.
  </p>
</Section>

<script>
  import "./about.ts";
</script>
