.contact {
  position: relative;
  min-height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  background-image: url("../../../assets/images/bg_tsuru.avif");
  background-repeat: no-repeat;
  background-size: 140%;
  background-position: center 30%;
}

.contact-container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 3rem 5rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

/* =========================
   Header
========================= */

.contact-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.contact-label {
  position: absolute;
  left: var(--space-10);
  align-items: center;
  font-size: var(--fs-lg);
  font-weight: 300;
  letter-spacing: 0.38em;
  text-transform: uppercase;
  color: var(--color-black);
}

.contact-name{
  color:var(--color-bg);
}


/* =========================
   Contenido
========================= */

.contact-layout {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.contact-intro {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  margin-bottom: 3rem;
}

.contact-title {
  width: 820px;
  max-width: 100%;
  margin-left: -60px;
  height: auto;
}

.contact-description-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10rem;
}

.contact-description {
  font-family: var(--font-primary);
  font-size: var(--fs-xl);
  font-weight: 300;
  line-height: 1.5;
  color: var(--color-bg);
}

.contact-decoration {
  display: flex;
  gap: .75rem;
  flex-shrink: 0;
}

.contact-plus--white {
  color: var(--color-bg);
}

.contact-plus--black {
  color: var(--color-black);
}

.contact-selector {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 3rem;
  max-width: 980px;
}

.contact-option {
  position: relative;
  width: 100%;
  height: 54px;
  appearance: none;
  cursor: pointer;
  padding: 0 1.5rem;
  border: 2px solid #fff;
  border-radius: 30px;
  background: transparent;
  color: #fff;
  font-family: var(--font-primary);
  font-size: 0.95rem;
  font-weight: 500;
  text-transform: uppercase;
  transition: all 0.3s ease;
}

.contact-option:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 100%;
  width: 3rem;
  height: 2px;
  background: #fff;
  transform: translateY(-50%);
}

.contact-option:hover {
  background: #fff;
  color: var(--color-black);
}

.contact-option.is-active {
  background: #fff;
  color: var(--color-black);
}


/* =========================
   Vista 2 — Formulario abierto
========================= */
.contact.is-form-open .contact-layout {
  position: relative;
  width: 100%;
  height: 800px;
}

/* =========================
   Título vertical
========================= */

.contact.is-form-open .contact-title {
  position: absolute;
  left: -15%;
  top: 100%;
  width: 715px;
  margin: 0;
  transform-origin: left top;
  transform: rotate(-90deg);
  z-index: 2;
}

/* =========================
   Descripción
========================= */

.contact.is-form-open .contact-description-row {
  position: absolute;
  left: 300px;
  top: 0;
  width: 950px;
  margin: 0;
  display: block;
}

/* Solo el texto */
.contact.is-form-open .contact-description {
  margin: 0;
  transform: none;
  width: 950px;
}

/* =========================
   Botones
========================= */

.contact.is-form-open .contact-selector {
  position: absolute;
  left: 330px;
  top: 75px;
  width: 800px;
  max-width: none;
  margin: 0;
  transform: none;
  z-index: 3;
}

/* =========================
   Formulario
========================= */

.contact.is-form-open .contact-form-wrapper {
  position: absolute;
  left: 330px;
  top: 150px;
  width: 750px;
  z-index: 4;
}

/* =========================
   Plus
========================= */

.contact.is-form-open .contact-decoration {
  position: absolute;
  left: 850px;
  top: 600px;
  margin: 0;
  transform: none;
  z-index: 5;
}

.contact.is-form-open {
  align-items: flex-start;
}

.contact.is-form-open .contact-container {
  padding-top: 3rem;
}