---
import "./contact.css";
import Section from "../../ui/Section/Section.astro";
import Heading from "../../ui/Heading/Heading.astro";
---

<Section id="contacto" class="contact">
  <Heading as="h2" size="lg">Contacto</Heading>
  <p class="contact-description">
    Contenido de la sección Contacto pendiente de definir.
  </p>
</Section>

<script>
  import "./contact.ts";
</script>
