---
import "./orange-mindset.css";
import Section from "../../ui/Section/Section.astro";
import Heading from "../../ui/Heading/Heading.astro";
---

<Section id="orange-mindset" class="orange-mindset">
  <Heading as="h2" size="lg">Orange Mindset</Heading>
  <p class="orange-mindset-description">
    Contenido de la sección Orange Mindset pendiente de definir.
  </p>
</Section>

<script>
  import "./orange-mindset.ts";
</script>
